{% extends "base.html" %}
{% block title %}Friends{% endblock title %}
<title>Friends</title>
{% block content %}

{% if current_user %}
    <p>Friends List: </p>
{% else %}
    <p>Current user is not defined.</p>
{% endif %}

{% if current_user.friendships %}
    <ul>
        {% for friendship in current_user.friendships %}
            <li>
                <p>{{ friendship.friend.username }} - <a href="{{ url_for('auth.user', username=friendship.friend.username) }}">Visit Friends Page?</a></p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% if current_user.user_friends %}
    <ul>
        {% for friendship in current_user.user_friends %}
            <li>
                <p>{{ friendship.user.username }} - <a href="{{ url_for('auth.user', username=friendship.user.username) }}">Visit Friends Page?</a></p>
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}

{% endblock content %}
