{% extends "base.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
<h1>Log In</h1>
<form action="{{ url_for('auth.login') }}" method="POST">
    <label for="email">Email: </label><br>
  <input type="email" id="email" name="email" value=""><br><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" value=""><br><br>
  <input type="submit" value="Submit">
</form>
<a href="{{ url_for('auth.lost_password') }}">Forgot Password?</a>
{% endblock content %}