{% extends "base.html" %}

{% block title %}
{% if session.username %}
{{ session.username }}
{% else %}
My Page
{% endif %}
{% endblock title %}

{% block content %}
{{ user.username }} - <a href="{{ url_for('auth.edit') }}">Edit Page</a>
<br>{{ user.description }}</br>

<h1>My Games:</h1>
<ul>
{% for game in user.owned_games %}
    <li>
        <form action="{{ url_for('data.game') }}" method="GET" style="display:inline;">
            <button type="submit" style="background:transparent; border:none; color:transparent;">
                <input type="hidden" name="game" value="{{ game.title }}">
                <img src="{{ game.art }}" alt="Game Art" width="70" height="100">
            </button>
        </form>
        <i>{{ game.title }}</i>
    </li>
{% endfor %}
</ul>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
{% endblock content %}
