body {
    background-color: #e4d2b7; /* Hexadecimal color code for linen */
    color: #000000;
}

#top-games-heading {
    text-align: center;
    margin: 20px 0;
    color: #333; /* Adjust the color as needed */
}
