body {
    background-color: #e4d2b7; /* Hexadecimal color code for linen */
    color: #000000;
}
img {
    padding-left: 50px;
    padding-right: 20px;
    width: 10%;
    height: 10%;
    
  }
  #game_art {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 50px;
    width: 15%;
    height: 15%;
  }