body {
    background-color: #e4d2b7; /* Background color for the whole body */
    color: #000000; /* Text color */
    display: flex; /* Use flex layout */
    flex-direction: column; /* Arrange children vertically */
    height: 100vh; /* Set the body height to 100% of the viewport height */
    margin: 0; /* Remove default margins */
}
#pfp{
    border-radius: 15px; /* Set border radius for rounded corners */ /* Makes the image round */
    width: 200px; /* Sets the width of the image */
    border: 2px solid white; /* Adds a red border around the image */
    margin: 10px;
    
}
.user-name {
    margin: auto;
    color: black; /* User page text color */
    padding: 10px;
}
.game-row{
    display: flex;
}
.games-box {
    display: flex;
    flex-wrap: wrap; /* Allow the games to wrap onto multiple rows */
    margin-top: auto;
    margin-left: auto;
    padding: 20px; /* Padding for the games box */
    max-width: 800px; /* Set a maximum width for the container */
    background-color: black; /* Background color for the games box */
    border-radius: 15px; /* Set border radius for rounded corners */
    margin-right: 20px;
    max-height: 700px;
    overflow-y: auto;
}

.game {
    border-radius: 15px; /* Set border radius for rounded corners */
    background-color: gray; /* Background color for each game */
    margin: 5px; /* Margin around each game */
    display: flex; /* Use flex layout for each game */
    flex-direction: column; /* Arrange game content vertically */
    align-items: center; /* Center game content horizontally */
    text-align: center; /* Center text horizontally */
    max-width: 150px; /* Limit the maximum width of the game box */
    padding: 5px; /* Add padding */
    height: 175px; /* Set a fixed height for the game box */
    overflow: hidden; /* Hide overflow content */
}
#description {
    margin: auto;
    padding: 10px;
}
.addbutton {
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    background-color: #77c4a8; 
    color: black; 
    border: 2px solid #04AA6D;
}
.removebutton {
    margin: 5px;
    padding: 5px;
    border-radius: 15px;
    background-color: rgb(192, 15, 15); 
    color: white; 
    border: 2px solid rgb(77, 5, 5);
}
#game-image {
    align-self: flex-start; /* Align the image to the top within the flex container */
    width: 70px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
}

#game-title {
    margin-top: 10px; /* Add margin between image and title */
    font-size: 14px; /* Adjust font size as needed */
}


.bottom-half {
    background-color: #ffffff;
    height: 750px; 
}
