{% extends "base.html" %}
{% block title %}{% endblock title %}
{% block content %}
<h1>Add Game</h1>
<form action="{{ url_for('data.game') }}" method="POST">
    <label for="title">Title:</label><br>
    <input type="text" id="title" name="title" value=""><br><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>

    <label for="art">Art:</label><br>
    <input type="text" id="art" name="art" value=""><br><br>

    <label for="platform">Platform:</label><br>
    <input type="text" id="platform" name="platform" value=""><br><br>

    <label for="genre">Genre:</label><br>
    <input type="text" id="genre" name="genre" value=""><br><br>

    <label for="release_date">Release Date:</label><br>
    <input type="date" id="release_date" name="release_date" value=""><br><br>

    <label for="developer">Developer:</label><br>
    <input type="text" id="developer" name="developer" value=""><br><br>

    <label for="publisher">Publisher:</label><br>
    <input type="text" id="publisher" name="publisher" value=""><br><br>

    <label for="rating">Rating:</label><br>
    <input type="text" id="rating" name="rating" value=""><br><br>

    <input type="submit" value="Submit">
</form>
{% endblock content %}