{% extends "base.html" %}
{% block title %}Game Search Results{% endblock title %}
{% block content %}
    <h1>Game results:</h1>
    {% for game in game_info %}
        <img src="{{ game.cover }}" alt="Italian Trulli" width="90" height="120">
        <p>Name of the game: {{ game.name }}</p>
        <p>Game description: {{ game.summary }}</p>
        <p>Platforms: {{ game.platforms | join(', ') }}</p>
        <p>Release Date: {{ game.first_release_date }}</p>
        <p>Genre: {{ game.genres | join(', ') }}</p>
        <p>By: {{ game.involved_companies | join(', ') }}</p>
        {% if game.rating is defined %}
            <p>Rating: {{ game.rating }}% on IGDB</p>
        {% else %}
            <p>Rating: N/A</p>
        {% endif %}
        <form method="post" action="{{ url_for('auth.user') }}">
            <input type="hidden" name="game_name" value="{{ game.name }}">
            <button type="submit">Add to list</button>
        </form>
        <hr>
    {% else %}
        <p>No game information available</p>
    {% endfor %}
{% endblock content %}
