{% extends "base.html" %}
{% block title %}Game Search Results{% endblock title %}
{% block content %}
<link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet" type="text/css">
    <h1>Game results:</h1>
    {% for game in game_info %}
        <img src="{{ game.art }}" alt="Italian Trulli" width="90" height="120">
        <p>{{ game.name }} - {{ game.first_release_date }}</p>
        <p>Game description: {{ game.summary }}</p>
        {% if game.rating is defined %}
            <p>Rating: {{ game.rating }}% on IGDB</p>
        {% else %}
            <p>Rating: N/A</p>
        {% endif %}
        <form method="post" action="{{ url_for('auth.user') }}">
            <input type="hidden" name="game_name" value="{{ game.name }}">
            <button type="submit" class="form-button">Add to list</button>
        </form>
        <hr>
    {% else %}
        <p>No game information available</p>
    {% endfor %}
{% endblock content %}
